.cuerpo
{
    background-color: antiquewhite;
}
.fila
{
    border:10pxpx solid white;
}
.columna
{
    border: 5px solid white;
    height: 100px;
    background-color: skyblue;
}
.f
{
    height: 100px;
    background-color: orange;
    border: 5px solid white;
}
.s
{
    height: 200px;
    background-color: plum;
    border: 5px solid white;
}
.h
{
    border: 5px solid white;
    height: 300px;
    background-color: greenyellow;
}
.m
{
    height: 400px;
    background-color: orange;
    border: 5px solid white;
}
.r
{
    height: 100px;
    background-color: green;
    border: 5px solid white;
}
.p
{
    height: 100px;
    background-color: pink;
    border: 5px solid white;
}
.e
{
    height: 100px;
    background-color: darkgrey;
    border: 5px solid white;
}